<!-- HTML del componente menu -->
<mat-toolbar class="menu-toolbar">
  <!-- Se subdivido en toolbar-row para poder trabajar en filas -->
  <mat-toolbar-row class="menu-row menu-row__1">
    <div class="global-center menu-image">
      <!-- Aqui se inserta la imagen por background -->
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu-row">
      <!-- Menu general  -->
      <div class="global-center button-row">
        <button mat-raised-button class="menu-button">Menu</button>
        <button mat-raised-button class="menu-button">Menu</button>
        <button mat-raised-button class="menu-button">Menu</button>
        <button mat-raised-button class="menu-button">Menu</button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>