// Algunas estilos estan aplicadas directamente en styles.css
// por ser estilos globales

// Aplicando centrado al menu
.menu-toolbar {
    background: white;
    padding: 25px 0;
}
.menu-image {
    background-image: url('./../../../assets/images/menu-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.menu-row__1 {
    height: 100px;
    margin: 10px 0;
}
.menu-button{
    width: 140px;
    margin: 0 7px;
}
@media (max-width:800px) {
    .menu-toolbar {
      display: none;
    }
}