<mat-drawer-container class="app-menu" autosize>
    <mat-drawer #drawer class="app-sidenav" mode="side">
        <!-- Menu general  -->
        <mat-grid-list cols="1" class="app-rw-list" rowHeight="38px">
            <mat-grid-tile rowspan=5>
                <div class="global-center app-image">
                    <!-- Aqui se inserta la imagen por background -->
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="app-button">Menu</button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="app-button">Menu</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer>
    <div class="app-menu-content">
        <mat-toolbar class="app-menu-toolbar">
            <mat-toolbar-row class="app-row">
                <button mat-icon-button type="button" (click)="drawer.toggle()">
                    <i class="fas fa-align-justify"></i>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <app-menu></app-menu>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</mat-drawer-container>