.app-menu-toolbar {
  i {
    font-size: 19px;
  }
}
.app-sidenav {
  width: 230px;
}
.app-button {
  display: inline-block;
  width: 100%;
}
.app-image {
  background-image: url("./../assets/images/menu-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
@media (min-width: 800px) {
  .app-menu-toolbar {
    display: none;
  }
}
@media (max-width: 800px) {
  .app-menu-toolbar {
    display: initial;
  }
}
