/* You can add global styles to this file, and also import other style files */

/* Agregando el tema predefinido de angular material */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Agregando Filtros principales a el body */
body{
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering:optimizeLegibility;
}
a,
a:link{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style:none;
}

/* Estilos globales */

.global-center { 
  margin: auto;
}
