<div class="inicio-calculate">
    <form (ngSubmit)="operationExchange(data1, data2)">
        <mat-grid-list [cols]="columnNum" rowHeight="70px">
            <mat-grid-tile [colspan]="columnNum">
                <h1 class="inicio-cal-title">X CURRENCY CONVERTER</h1>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-select name="divisa" placeholder="Select foreign exchange." (selectionChange)="findExchange(temporalid)" [(ngModel)]="temporalid">
                        <mat-option *ngFor="let fe of foreign_exchange" [value]="fe.id">
                            {{fe.base}} - {{fe.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-select name="sub-divisa" placeholder="Select foreign exchange." [(ngModel)]="data2">
                        <mat-option *ngFor="let ra of rates" [value]="ra.rate">
                            {{ra.base}} - {{ra.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <input matInput placeholder="Amount" step="0.0001" type="number" name="money" [(ngModel)]="data1">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input [ngModel]="result | number: '1.1-4'" matInput placeholder="" type="string" name="money-exch" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="columnNum">
                <button class="inicio-cal-submit" type="submit" mat-raised-button>CALCULATE</button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div class="inicio-history">
    <mat-grid-list [cols]="columnNum" rowHeight="80">
        <mat-grid-tile>
            <h1 class="inicio-h-title">HISTORIC PRICE</h1>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="inicio-price_history">
                <div class="inicio-ph_title">Title.</div>
                <div class="inicio-ph-content">Content in content.</div>
                <div class="inicio-ph-subcontent">Subcontent in.</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>