// Aplicando los estilos a inicio.component.html

// estilos para la seccion de exchange
.inicio-calculate {
  background: whitesmoke;
  border: 2px solid #c9ccd1;
  padding: 30px 150px;
  .inicio-cal-title {
    font-size: 35px;
    font-weight: bold;
  }
}
mat-form-field {
  width: 100%;
  padding: 0 15px;
}

.inicio-history {
  margin: 30px 150px;
  .inicio-h-title{
    font-size: 35px;
  }
  .inicio-ph_title {
    font-weight: bold;
  }
}
@media (max-width: 800px) {
  .inicio-calculate {
    padding: 30px 50px;
    .inicio-cal-title {
      font-size: 22px;
    }
  }
  .inicio-history {
    margin: 30px 50px;
    .inicio-h-title {
      font-size: 22px;
    }
  }
}
@media (max-width: 420px) {
  .inicio-calculate {
    padding: 20px 7px;
    .inicio-cal-title {
      font-size: 14px;
    }
  }
  .inicio-history {
    margin: 20px 7px;
    .inicio-h-title {
      font-size: 14px;
    }
  }
  mat-form-field {
    padding: 0;
  }
}
