<div class="footer">
    <mat-grid-list [cols]="columnNum" rowHeight="250">
        <mat-grid-tile [colspan]="columnNum1">
            <div class="footer-nav">
                <h1 class="footer-nav-title">Title</h1>
                <div class="footer-nav-menu">Menu1 content</div>
                <div class="footer-nav-menu">Menu2 content in content</div>
                <div class="footer-nav-menu">Menu3 come on</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="columnNum1">
            <div class="footer-nav">
                <h1 class="footer-nav-title">Title</h1>
                <div class="footer-nav-menu">Menu1 content</div>
                <div class="footer-nav-menu">Menu2 content in content</div>
                <div class="footer-nav-menu">Menu3 come on</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="columnNum1">
            <div class="footer-nav">
                <h1 class="footer-nav-title">Title</h1>
                <div class="footer-nav-menu">Menu1 content</div>
                <div class="footer-nav-menu">Menu2 content in content</div>
                <div class="footer-nav-menu">Menu3 come on</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="footer-nav">
                <h1 class="footer-nav-title">Title</h1>
                <div class="footer-nav-icon">
                    <i class="fab fa-facebook-square"></i>
                </div>
                <div class="footer-nav-icon">
                    <i class="fab fa-twitter-square"></i>
                </div>
                <div class="footer-nav-icon">
                    <i class="fab fa-blogger"></i>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>